<!doctype html>
<!--[if IE 7]>    <html class="ie7" > <![endif]-->
<!--[if IE 8]>    <html class="ie8" > <![endif]-->
<!--[if IE 9]>    <html class="ie9" > <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-US"> <!--<![endif]-->
		<head>
        		<!-- Basic Page Needs
 				================================================== -->
                <meta charset="utf-8">
                <title>Automotive HTML</title>
                <meta name="description" content="">
                <meta name="author" content="">
                
				<!-- Mobile Specific Metas
  				================================================== -->
				<meta name="viewport" content="width=device-width" />

				
				<!-- CSS
 				================================================== -->
                <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic' rel='stylesheet' type='text/css'>
                <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
                
                <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
				<link rel="stylesheet" href="rs-plugin/css/settings.css" media="screen" />
                <link rel="stylesheet" href="css/style.css"> <!--Your Styles-->
				<link rel="stylesheet" href="css/responsive.css">
				<link rel="stylesheet" href="css/timeline.css">
                <link rel="stylesheet" href="rs-plugin/css/responsive.css" media="screen" />
                
				<!-- Favicons
				================================================== -->
				<link rel="shortcut icon" href="images/favicon.png">
                
                <!-- Twitter Share Script
				================================================== -->
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				
				<!--[if lt IE 9]>
						<script src="js/html5shiv.js"></script>
						<link rel="stylesheet" href="css/ie.css">
				<![endif]-->
		</head>
		<body>				
				<!-- HEADER -->
				<header>
						<div class="header-topwrapper clearfix">
                        	<div class="login">
                            	<p class="cell">+1 234 567-8901 - Monday to Friday from 8am to 7pm</p>
                            </div>
                        </div>
                        <div class="header-wrapper clearfix">
                        	<div class="header clearfix">
                        		<div class="logo clearfix">
                        			<a href="index.html"><img src="images/logo.png" alt="Logo"/></a>
                        			<input type="text" placeholder="search" value=""  name="search"/>
                        		</div>
                                
                                <nav id="desktop-nav">
                                	<ul>
                                		<li><a href="/">HOME</a>
                                        </li>
                                		<li><a href="/aboutus">ABOUT US</a></li>
                                		<li><a href="/gallery">GALLERY</a>
                                        	<ul class="submenu">
                                        		<li>
                                                	<h3>Focus Sedan mix</h3>
                                                	<div class="showroom-pic">
                                                		<img src="images/submenu/submenu-1.png" alt="img"/>
                                                		<div class="submenu-overlay">
                                                    		<a href="single-car.html">&nbsp;</a>
                                                    	</div>
                                                    </div>
                                                	<p><span>Brand</span><span class="span-r">Nisan</span></p>
                                                    <p><span>Model</span><span class="span-r">Sedan</span></p>
                                                    <p class="last"><span>Year</span><span class="span-r">2013</span></p>
                                                	
                                                </li>
                                                <li>
                                                	<h3>Focus Sedan mix</h3>
                                                	<div class="showroom-pic">
                                                		<img src="images/submenu/submenu-2.png" alt="img"/>
                                                		<div class="submenu-overlay">
                                                    		<a href="single-car.html">&nbsp;</a>
                                                    	</div>
                                                    </div>
                                                	<p><span>Brand</span><span class="span-r">Nisan</span></p>
                                                    <p><span>Model</span><span class="span-r">Sedan</span></p>
                                                    <p class="last"><span>Year</span><span class="span-r">2013</span></p>
                                                	
                                                </li>
                                                <li>
                                                	<h3>Focus Sedan mix</h3>
                                                	<div class="showroom-pic">
                                                		<img src="images/submenu/submenu-3.png" alt="img"/>
                                                		<div class="submenu-overlay">
                                                    		<a href="/singlecar">&nbsp;</a>
                                                    	</div>
                                                    </div>
                                                	<p><span>Brand</span><span class="span-r">Nisan</span></p>
                                                    <p><span>Model</span><span class="span-r">Sedan</span></p>
                                                    <p class="last"><span>Year</span><span class="span-r">2013</span></p>
                                                	
                                                </li>
                                                <li>
                                                	<h3>Focus Sedan mix</h3>
                                                	<div class="showroom-pic">
                                                		<img src="images/submenu/submenu-4.png" alt="img"/>
                                                		<div class="submenu-overlay">
                                                    		<a href="/singlecar">&nbsp;</a>
                                                    	</div>
                                                    </div>
                                                	<p><span>Brand</span><span class="span-r">Nisan</span></p>
                                                    <p><span>Model</span><span class="span-r">Sedan</span></p>
                                                    <p class="last"><span>Year</span><span class="span-r">2013</span></p>
                                                	
                                                </li>
                                                <li class="last">
                                                	<h3>Focus Sedan mix</h3>
                                                	<div class="showroom-pic">
                                                		<img src="images/submenu/submenu-5.png" alt="img"/>
                                                		<div class="submenu-overlay">
                                                    		<a href="/singlecar">&nbsp;</a>
                                                    	</div>
                                                    </div>
                                                	<p><span>Brand</span><span class="span-r">Nisan</span></p>
                                                    <p><span>Model</span><span class="span-r">Sedan</span></p>
                                                    <p class="last"><span>Year</span><span class="span-r">2013</span></p>
                                                	
                                                </li>
                                        		
                                        	</ul>
                                            
                                        </li>
                                		<li><a href="/rent">RENT A CAR <span>&nbsp;</span></a>
                                        	<ul>
                                                <li><a href="/rent">Honda</a></li>
                                                <li><a href="/rent">Hyundai</a></li>
                                                <li><a href="/rent">Sedan</a>
                                                </li>
                                                <li><a href="/rent">Jaguar</a></li>
                                                <li><a href="/rent">Jeep</a></li>
                                            </ul>
                                        </li>
                                		<li><a href="/sell">SELL YOUR CAR</a></li>
                                		<li><a href="/search">SEARCH</a></li>
                                		<li><a href="/contact">CONTACT</a></li>
                                	</ul>
                                </nav>
                                
                                <select class="responsive-nav" id="mobile-nav">
                                      <option value="/index">HOME</option>
                                      <option value="/aboutus">ABOUT US</option>
                                      <option value="/gallery">GALLERY</option>
                                      <option value="/rent">RENT A CAR</option>
                                      <option value="/sell">SELL YOUR CAR</option>
                                      <option value="/search">SEARCH</option>
                                      <option value="/contact">CONTACT</option>
                                </select>
                                
                        	</div>
                        </div>					
				</header>
				<!--End HEADER -->
	                
                <!-- Slider -->
                <div class="slider-wrapper-error">
                	
                </div>
				<!-- End Slider-->
                 <!-- CONTAINER-->
                <div class="container-wrapper">
                	<div class="content conteiner-about">
                		<div class="container-top clearfix">
                            <h2>About Us</h2>
                            <p><a href="/">Home </a> <a href="/aboutus">/  About Us</a></p>
                        </div>
                       <section class="container aboutus clearfix">
                       		
                            <div class="ourweb  clearfix">
                            	<h2 class="section-heading">WELCOME<span> TO OUR WEBSITE</span></h2>
                                <div class="webimg">
                                	<img src="images/about/boss.jpg" alt="PIC"/>
                                </div>
                            	<div class="webdetail">
                                	<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>
                                    <p>Nullam a tellus libero, eu congue nisi. Nam porta accumsan massa nec viverra. Phasellus eget erat laoreet dui blandit gravida. Vivamus justo quam, consectetur vel sagittis pellentesque, molestie sit amet tellus. </p>
                                	<p>Proin nisl eros, tempus in faucibus vitae, cursus in nulla. Etiam et orci eu nisi dictum placerat non congue tellus. Vestibulum porttitor, diam vel tristique ullamcorper, enim enim faucibus libero, condimentum ultrices sapien tellus at nunc. Praesent eget neque sem, id porttitor ipsum. </p>
                                    <p>Nunc sed eros nec ante dictum tincidunt vitae in orci. Suspendisse purus nisi, suscipit ac pulvinar eu, rhoncus scelerisque orci. Vestibulum hendrerit consectetur leo eu consequat.</p>
                                </div>
                            </div>
                            
                            <div class="ghraphic clearfix">
                            	
                                <div class="market">
                                	<h2 class="section-heading">MARKET<span> DATA CENTER</span></h2>
                                    <ul>
                                    	<li><span class="data">Used Cars 90%</span><span class="strength" style="width: 75%;"></span></li>
                                        <li><span class="data">New Cars 90%</span><span class="strength" style="width: 90%;"></span></li>
                                        <li><span class="data">Rented Cars Cars 90%</span><span class="strength" style="width: 75%;"></span></li>
                                        <li><span class="data">Sell Cars 90%</span><span class="strength" style="width: 65%;"></span></li>
                                    </ul>
                                </div>
                          		<div class="choose">      
                            		<h2 class="section-heading">WHY<span> CHOOSE US</span></h2>
                                    <ul>
                                    	<li>Proin nisl eros, tempus in faucibus vitae, cursus in nulla. </li>
                                    	<li>Etiam et orci eu nisi dictum placerat non congue tellus.</li>
                                    	<li>Vestibulum porttitor, diam vel tristique ullamcorper enim enim faucibus.</li>
                                    	<li>Libero condimentum ultrices sapien tellus at nunc.</li>
                                    	<li>Praesent eget neque sem, id porttitor ipsum. </li>
                                    </ul>
                            	</div>
                            </div>
                          </div>
                       </section>
                    </div>
                </div>
                <!--End Container-->
              		
                
                <!--Footer-->
			
                <div class="footer-top ">&nbsp;</div>
				
                <!--Footer-->
                <div class="footer-wrapper">
                	
                    <div class="footer clearfix">
                    	<div class="help clearfix">
                        	<h4>Help</h4>
                            <ul>
                            	<li><a href="/aboutus">About Us</a></li>
                            	<li><a href="#">FAQ</a></li>
                            	<li><a href="#">Press</a></li>
                            	<li><a href="/contact">Contact</a></li>
                            	<li><a href="#">News</a></li>
                            </ul>
                            <ul>
                            	<li><a href="#">Terms of use</a></li>
                            	<li><a href="#">Privacy Policy</a></li>
                            	<li><a href="#">Shop</a></li>
                            	<li><a href="#">Features</a></li>
                            </ul>
                        </div>
                        <div class="my-account">
                        	<h4>My Account</h4>
                        	<ul>
                            	<li><a href="#">My Account</a></li>
                            	<li><a href="#">Order History</a></li>
                            	<li><a href="#">Wish List</a></li>
                            	<li><a href="#">Newsletter</a></li>
                            </ul>
                        </div>
                        <div class="privacy">
                        	<h4>Privacy</h4>
                        	<ul>
                            	<li><a href="#">Terms</a></li>
                            	<li><a href="#">Support</a></li>
                            	<li><a href="#">Conditions</a></li>
                            	<li><a href="#">Report</a></li>
                            </ul>
                        </div>
                        <div class="ab">
                        	<h4>About Us</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        	<form action="#" method="post">
                        		<input type="text" placeholder="Enter your Email Address" value="" name="Email" />
                        		<input type="submit" class="buton" value="" name="submit"/>
                        	</form>
                        </div>
                    </div>
                    <footer class="clearfix">
                    	<div class="copy-right">
                    		<p>Powered By Coralix Themes</p>
                    		<p>Copyright ©.  All rights reserved - Best Themes</p>
                    	</div>
                        
                        <!--Social Navigation-->
                        <div class="social-nav">
                        	<a href="#" class="skype"></a>
                        	<a href="#" class="tw"></a>
                        	<a href="#" class="vi"></a>
                        	<a href="#" class="db"></a>
                        	<a href="#" class="rss"></a>
                        	<a href="#" class="pic"></a>
                        	<a href="#" class="in"></a>
                        	<a href="#" class="go"></a>
                        	<a href="#" class="fb"></a>
                        </div>
                        <!--Social Navigation-->
                        
                    </footer>
                </div>
                <!--End Footer-->
                               
                <!-- Scripts -->				
				<script src="js/jquery-1.7.1.min.js"></script>
				<script src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
				<script src="rs-plugin/js/jquery.themepunch.revolution.js"></script>
				<script src="js/jquery.isotope.min.js"></script>
				<script src="js/jquery-cycle.js"></script>
                <script src="js/jquery-ui.js"></script>
                <script src="js/jquery.selectBox.js"></script> 
                <script src="js/timeline.js"></script>
				<script src="js/custom.js"></script>

        </body>
</html>
