<!doctype html>
<!--[if IE 7]>    <html class="ie7" > <![endif]-->
<!--[if IE 8]>    <html class="ie8" > <![endif]-->
<!--[if IE 9]>    <html class="ie9" > <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-US"> <!--<![endif]-->
		<head>
        		<!-- Basic Page Needs
 				================================================== -->
                <meta charset="utf-8">
                <title>Automotive HTML</title>
                <meta name="description" content="">
                <meta name="author" content="">
                
				<!-- Mobile Specific Metas
  				================================================== -->
				<meta name="viewport" content="width=device-width" />

				
				<!-- CSS
 				================================================== -->
                <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic' rel='stylesheet' type='text/css'>
                <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
                
                <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
				<link rel="stylesheet" href="rs-plugin/css/settings.css" media="screen" />
                <link rel="stylesheet" href="css/style.css"> <!--Your Styles-->
				<link rel="stylesheet" href="css/responsive.css">
				<link rel="stylesheet" href="css/timeline.css">
                <link rel="stylesheet" href="rs-plugin/css/responsive.css" media="screen" />
                
				<!-- Favicons
				================================================== -->
				<link rel="shortcut icon" href="images/favicon.png">
                
                <!-- Twitter Share Script
				================================================== -->
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				
				<!--[if lt IE 9]>
						<script src="js/html5shiv.js"></script>
						<link rel="stylesheet" href="css/ie.css">
				<![endif]-->
		</head>
		<body>				
				<!-- HEADER -->
				<header>
                        <div class="header-topwrapper clearfix">
                            <div class="login">
                                <p class="cell">+1 804 918-8859 - Monday to Saturday from 10am to 6pm</p>
                            </div>
                        </div>
                        <div class="header-wrapper clearfix">
                            <div class="header clearfix">
                                <div class="logo clearfix">
                                    <a href="index.html"><img src="images/logo.png" alt="Logo"/></a>
                                    <input type="text" placeholder="search" value=""  name="search"/>
                                </div>
                                
                                <nav id="desktop-nav">
                                    <ul>
                                        <li><a href="/">HOME</a>
                                        </li>
                                        <li><a href="/aboutus">ABOUT US</a></li>
                                        <li><a href="/gallery">GALLERY</a>
                                            <ul class="submenu">
                                                <li>
                                                    <h3>Focus Sedan mix</h3>
                                                    <div class="showroom-pic">
                                                        <img src="images/submenu/submenu-1.png" alt="img"/>
                                                        <div class="submenu-overlay">
                                                            <a href="/singlecar">&nbsp;</a>
                                                        </div>
                                                    </div>
                                                    <p><span>Brand</span><span class="span-r">Nisan</span></p>
                                                    <p><span>Model</span><span class="span-r">Sedan</span></p>
                                                    <p class="last"><span>Year</span><span class="span-r">2013</span></p>
                                                    
                                                </li>
                                                <li>
                                                    <h3>Focus Sedan mix</h3>
                                                    <div class="showroom-pic">
                                                        <img src="images/submenu/submenu-2.png" alt="img"/>
                                                        <div class="submenu-overlay">
                                                            <a href="/singlecar">&nbsp;</a>
                                                        </div>
                                                    </div>
                                                    <p><span>Brand</span><span class="span-r">Nisan</span></p>
                                                    <p><span>Model</span><span class="span-r">Sedan</span></p>
                                                    <p class="last"><span>Year</span><span class="span-r">2013</span></p>
                                                    
                                                </li>
                                                <li>
                                                    <h3>Focus Sedan mix</h3>
                                                    <div class="showroom-pic">
                                                        <img src="images/submenu/submenu-3.png" alt="img"/>
                                                        <div class="submenu-overlay">
                                                            <a href="/singlecar">&nbsp;</a>
                                                        </div>
                                                    </div>
                                                    <p><span>Brand</span><span class="span-r">Nisan</span></p>
                                                    <p><span>Model</span><span class="span-r">Sedan</span></p>
                                                    <p class="last"><span>Year</span><span class="span-r">2013</span></p>
                                                    
                                                </li>
                                                <li>
                                                    <h3>Focus Sedan mix</h3>
                                                    <div class="showroom-pic">
                                                        <img src="images/submenu/submenu-4.png" alt="img"/>
                                                        <div class="submenu-overlay">
                                                            <a href="/singlecar">&nbsp;</a>
                                                        </div>
                                                    </div>
                                                    <p><span>Brand</span><span class="span-r">Nisan</span></p>
                                                    <p><span>Model</span><span class="span-r">Sedan</span></p>
                                                    <p class="last"><span>Year</span><span class="span-r">2013</span></p>
                                                    
                                                </li>
                                                <li class="last">
                                                    <h3>Focus Sedan mix</h3>
                                                    <div class="showroom-pic">
                                                        <img src="images/submenu/submenu-5.png" alt="img"/>
                                                        <div class="submenu-overlay">
                                                            <a href="/singlecar">&nbsp;</a>
                                                        </div>
                                                    </div>
                                                    <p><span>Brand</span><span class="span-r">Nisan</span></p>
                                                    <p><span>Model</span><span class="span-r">Sedan</span></p>
                                                    <p class="last"><span>Year</span><span class="span-r">2013</span></p>
                                                    
                                                </li>
                                                
                                            </ul>
                                            
                                        </li>
                                        <li><a href="/rent">RENT A CAR <span>&nbsp;</span></a>
                                            <ul>
                                                <li><a href="/rent">Honda</a></li>
                                                <li><a href="/rent">Hyundai</a></li>
                                                <li><a href="/rent">Sedan</a>
                                                </li>
                                                <li><a href="/rent">Jaguar</a></li>
                                                <li><a href="/rent">Jeep</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/sell">SELL YOUR CAR</a></li>
                                        <li><a href="/search">SEARCH</a></li>
                                        <li><a href="/contact">CONTACT</a></li>
                                    </ul>
                                </nav>
                                
                                <select class="responsive-nav" id="mobile-nav">
                                      <option value="/index">HOME</option>
                                      <option value="/aboutus">ABOUT US</option>
                                      <option value="/gallery">GALLERY</option>
                                      <option value="/rent">RENT A CAR</option>
                                      <option value="/sell">SELL YOUR CAR</option>
                                      <option value="/search">SEARCH</option>
                                      <option value="/contact">CONTACT</option>
                                </select>
                                
                            </div>
                        </div>                  
                </header>
				<!--End HEADER -->
                
                <!-- Slider -->
                <div class="slider-wrapper-error">
                	
                </div>
				<!-- End Slider-->
                 <!-- CONTAINER-->
                <div class="container-wrapper">
                	<div class="content conteiner-about">
                		<div class="container-top clearfix">
                            <h2>Advance Search</h2>
                            <p><a href="/">Home </a> <a href="/search">/  Search</a> <a href="#">/  Advance Search</a></p>
                        </div>
                       <section class="container advance-search clearfix">
                       		
                            <!--End Content Main-->
                            <div class="contact-main">
                            
                                <div class="car-info">
                                    <h2 class="section-heading">CAR<span> INFORMATION</span></h2>
                                </div>	
                                                
                                <div class="car-model">
                                    <h3>Car Model:</h3>
                                    <ul class="car-pic clearfix">
                                        <li>
                                            <a href="#"><figure>
                                                <img src="images/wagon.png" alt="pic"/>
                                            </figure><span>Wagon</span></a>
                                        </li>
                                        <li><a href="#">
                                            <figure>
                                                <img src="images/van.png" alt="pic"/>
                                            </figure><span>Van</span></a>
                                        </li>
                                        <li><a href="#">
                                            <figure>
                                                <img src="images/sedan.png" alt="pic"/>
                                            </figure><span>Sedan</span></a>
                                        </li>
                                        <li><a href="#">
                                            <figure>
                                                <img src="images/pickup_truck.png" alt="pic"/>
                                            </figure><span>Pickup/Truck</span></a>
                                        </li>
                                        <li><a href="#">
                                            <figure>
                                                <img src="images/Coupe_Hatchback.png" alt="pic"/>
                                            </figure><span>Coupe</span></a>
                                        </li>
                                        <li><a href="#">
                                            <figure>
                                                <img src="images/Convertible.png" alt="pic"/>
                                            </figure><span>Convertible</span></a>
                                        </li>
                                    </ul>
                                </div>
                                
                                <form>
                                    <div class="input clearfix">
                                        
                                        <div class="left">
                                            <label for="Vin">VIN: </label>
                                            <input type="text" name="Vin" value="" />
                                            <label for="made">Made: </label>
                                            <input type="text" value="" name="made" />
                                            <label for="price">Price: </label>
                                            <input type="text" value="" name="price" />
                                            <label for="body">Body Style: </label>
                                            <input type="text" name="body" value="" />
                                        </div>
                                        <div class="right">
                                            <label for="year">Year: </label>
                                            <input type="text" value="" name="year" />
                                            <label for="model">Model: </label>
                                            <input type="text" value="" name="model" />
                                            <label for="mileage">Mileage: </label>
                                            <input type="text" value="" name="mileage"/>
                                            <label for="color">Color: </label>
                                            <input type="text"  value="" name="color"/>
                                        </div>
                                    
                                    </div>  
                                              
                                    <div class="range clearfix">
                                        
                                        <div class="price-range">
                                          <p>
                                          	<label for="amount">Price range:</label>
                                       		<input type="text" id="amount" />
                                       	 </p>
                                        <div id="slider-range"></div>
                                         
                                        </div>
                                        
                                        <div class="mileage-range">
                                          <p>
                                            <label for="amount2">Mileage:</label>
                                            <input type="text" id="amount2" />
                                          </p>
                                          <div id="mileage-range"></div>
                                        </div>
                                        
                                    </div>
                            
                                    <div class="selection clearfix">
                                    	<div class="data-range">
                                        
                                        	<label>Date range Selection:</label>
                                            <input type="text" name="data-range-1" class="data-range range-one" />
                                            <input type="text" name="data-range-2" class="data-range" />
                                        
                                        </div>
                                        <div class="condition">
                                    		<label>Condition :</label>
                                            <select>
                                    		      <option value="ANY">New</option>
                                    		      <option value="ANY">New</option>
                                    		      <option value="ANY">New</option>
                                    		      <option value="ANY">New</option>
                                    		  </select>
                                    	</div>
                                    </div> 
                                    
                                    <div class="short clearfix">
                                        <form action="#" method="post">
                                        	<div class="shortby">
                                        		<h3>Short by:</h3>
                                        		<ul>
                                        		    <li><input type="radio" value="radio-button" name="button"/><p>Best Match</p></li>
                                        		    <li><input type="radio" value="radio-button" name="button"/><p>Popularity</p></li>
                                        		    <li><input type="radio" value="radio-button" name="button"/><p>Update Date</p></li>
                                        		    <li><input type="radio" value="radio-button" name="button"/><p>Newest to Oldest</p></li>
                                        		    <li><input type="radio" value="radio-button" name="button"/><p>Oldest to Newest</p></li>
                                        		</ul>
                                        	</div>
                                        	<div class="shortby">
                                        		<h3>Transmission:</h3>
                                        		<ul>
                                        		    <li><input type="radio" value="radio-button" name="button"/><p>Best Match</p></li>
                                        		    <li><input type="radio" value="radio-button" name="button"/><p>Popularity</p></li>
                                        		    <li><input type="radio" value="radio-button" name="button"/><p>Update Date</p></li>
                                        		    <li><input type="radio" value="radio-button" name="button"/><p>Newest to Oldest</p></li>
                                        		    <li><input type="radio" value="radio-button" name="button"/><p>Oldest to Newest</p></li>
                                        		</ul>
                                        	</div>
                                        	<div class="shortby">
                                        		<h3>Sort by color:</h3>
                                        		<ul>
                                        		    <li><input type="radio" value="radio-button" name="button"/><p>Best Match</p></li>
                                        		    <li><input type="radio" value="radio-button" name="button"/><p>Popularity</p></li>
                                        		    <li><input type="radio" value="radio-button" name="button"/><p>Update Date</p></li>
                                        		    <li><input type="radio" value="radio-button" name="button"/><p>Newest to Oldest</p></li>
                                        		    <li><input type="radio" value="radio-button" name="button"/><p>Oldest to Newest</p></li>
                                        		</ul>
                                        	</div>
                                        	<div class="shortby">
                                        		<h3>Sort by city:</h3>
                                        		<ul>
                                        		    <li><input type="radio" value="radio-button" name="button"/><p>Best Match</p></li>
                                        		    <li><input type="radio" value="radio-button" name="button"/><p>Popularity</p></li>
                                        		    <li><input type="radio" value="radio-button" name="button"/><p>Update Date</p></li>
                                        		    <li><input type="radio" value="radio-button" name="button"/><p>Newest to Oldest</p></li>
                                        		    <li><input type="radio" value="radio-button" name="button"/><p>Oldest to Newest</p></li>
                                        		</ul>
                                        	</div>
                                        </form>
                                          
                                    </div>
                                    
                                    <div class="keyword clearfix">
                                        
                                       <form action="#" method="post">
                                        	<div class="input-left">
                                        	    <label for="refine">Refine by Keyword:</label>
                                        	    <input type="text" value="" name="refine"/>
                                        	</div>
                                        	<div class="input-right">
                                        	    <label for="Credential">Credential:</label>
                                        	    <input type="text" value="" name="Credential"/>
                                        	</div>
                                        </form> 
                                           
                                    </div>    
                                               
                                    <div class="clearfix">
                                      <a href="#" class="send">Send</a>
                                      <a href="#" class="clear">Clear</a>
                                    </div>
                                    
                                </form>
                                 
                            </div>	
                            <!--End Main-->
                            
                            <!--Right Column-->
                            <div class="contact-rightcolum">
                            	<div class="widget">
                                    <div class="dealer brands">
                                    	<h2 class="section-heading">BRANDS</h2>
                                    	<ul>
                                            <li><a href="#">Acura </a><span>(24,061)</span></li>
                                            <li><a href="#">Alfa Romeo </a><span>(13)</span></li>
                                            <li><a href="#">AM General </a><span>(14)</span></li>
                                            <li><a href="#">AMC </a><span>(10)</span></li>
                                            <li><a href="#">Aston Martin </a><span>(26)</span></li>
                                            <li><a href="#">AUBURN </a><span>(1)</span></li>
                                            <li><a href="#">Audi</a> <span>(1930)</span></li>
                                            <li><a href="#">Acura </a><span>(24,061)</span></li>
                                            <li><a href="#">Alfa Romeo </a><span>(13)</span></li>
                                            <li><a href="#">AM General </a><span>(14)</span></li>
                                            <li><a href="#">AMC </a><span>(10)</span></li>
                                            <li><a href="#">Aston Martin </a><span>(26)</span></li>
                                            <li><a href="#">AUBURN </a><span>(1)</span></li>
                                            <li><a href="#">Audi</a> <span>(1930)</span></li>
                                            <li><a href="#">Acura </a><span>(24,061)</span></li>
                                            <li><a href="#">Alfa Romeo </a><span>(13)</span></li>
                                            <li><a href="#">AM General </a><span>(14)</span></li>
                                            <li><a href="#">AMC </a><span>(10)</span></li>
                                            <li><a href="#">Aston Martin </a><span>(26)</span></li>
                                            <li><a href="#">AUBURN </a><span>(1)</span></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--End Right Column-->
                            
                       </section>
                    </div>
                </div>
                <!--End Container-->
              		
                
			
                <div class="footer-top ">&nbsp;</div>
				
                <!--Footer-->
                <div class="footer-wrapper">
                	
                    <div class="footer clearfix">
                    	<div class="help clearfix">
                        	<h4>Help</h4>
                            <ul>
                            	<li><a href="#">About Us</a></li>
                            	<li><a href="#">FAQ</a></li>
                            	<li><a href="#">Press</a></li>
                            	<li><a href="#">Coantact</a></li>
                            	<li><a href="#">News</a></li>
                            </ul>
                            <ul>
                            	<li><a href="#">Terms of use</a></li>
                            	<li><a href="#">Privacy Policy</a></li>
                            	<li><a href="#">Shop</a></li>
                            	<li><a href="#">Fearures</a></li>
                            </ul>
                        </div>
                        <div class="my-account">
                        	<h4>My Account</h4>
                        	<ul>
                            	<li><a href="#">My Account</a></li>
                            	<li><a href="#">Order History</a></li>
                            	<li><a href="#">Wish List</a></li>
                            	<li><a href="#">Newsletter</a></li>
                            </ul>
                        </div>
                        <div class="privacy">
                        	<h4>Privacy</h4>
                        	<ul>
                            	<li><a href="#">Terms</a></li>
                            	<li><a href="#">Support</a></li>
                            	<li><a href="#">Conditions</a></li>
                            	<li><a href="#">Report</a></li>
                            </ul>
                        </div>
                        <div class="ab">
                        	<h4>About Us</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        	<form action="#" method="post">
                        		<input type="text" placeholder="Enter your Email Address" value="" name="Email" />
                        		<input type="submit" class="buton" value="" name="submit"/>
                        	</form>
                        </div>
                    </div>
                    <footer class="clearfix">
                    	<div class="copy-right">
                    		<p>Powered By Coralix Themes</p>
                    		<p>Copyright ©.  All rights reserved - Best Themes</p>
                    	</div>
                        
                        <!--Social Navigation-->
                        <div class="social-nav">
                        	<a href="#" class="skype"></a>
                        	<a href="#" class="tw"></a>
                        	<a href="#" class="vi"></a>
                        	<a href="#" class="db"></a>
                        	<a href="#" class="rss"></a>
                        	<a href="#" class="pic"></a>
                        	<a href="#" class="in"></a>
                        	<a href="#" class="go"></a>
                        	<a href="#" class="fb"></a>
                        </div>
                        <!--Social Navigation-->
                        
                    </footer>
                </div>
                <!--End Footer-->
                            
                <!-- Scripts -->				
				<script src="js/jquery-1.7.1.min.js"></script>
				<script src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
				<script src="rs-plugin/js/jquery.themepunch.revolution.js"></script>
				<script src="js/jquery.isotope.min.js"></script>
				<script src="js/jquery-cycle.js"></script>
                <script src="js/jquery-ui.js"></script>
                <script src="js/jquery.selectBox.js"></script> 
                <script src="js/timeline.js"></script>
				<script src="js/custom.js"></script>

        </body>
</html>