<!doctype html>
<!--[if IE 7]>    <html class="ie7" > <![endif]-->
<!--[if IE 8]>    <html class="ie8" > <![endif]-->
<!--[if IE 9]>    <html class="ie9" > <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-US"> <!--<![endif]-->
		<head>
        		<!-- Basic Page Needs
 				================================================== -->
                <meta charset="utf-8">
                <title>Automotive HTML</title>
                <meta name="description" content="">
                <meta name="author" content="">
                
				<!-- Mobile Specific Metas
  				================================================== -->
				<meta name="viewport" content="width=device-width" />

				
				<!-- CSS
 				================================================== -->
                <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic' rel='stylesheet' type='text/css'>
                <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
                
                <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
				<link rel="stylesheet" href="rs-plugin/css/settings.css" media="screen" />
                <link rel="stylesheet" href="css/style.css"> <!--Your Styles-->
				<link rel="stylesheet" href="css/responsive.css">
				<link rel="stylesheet" href="css/timeline.css">
                <link rel="stylesheet" href="rs-plugin/css/responsive.css" media="screen" />
                
				<!-- Favicons
				================================================== -->
				<link rel="shortcut icon" href="images/favicon.png">
                
                <!-- Twitter Share Script
				================================================== -->
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				
				<!--[if lt IE 9]>
						<script src="js/html5shiv.js"></script>
						<link rel="stylesheet" href="css/ie.css">
				<![endif]-->
		</head>
		<body>				
				<!-- HEADER -->
				<header>
                        <div class="header-topwrapper clearfix">
                            <div class="login">
                                <p class="cell">+1 804 918-8859 - Monday to Saturday from 10am to 6pm</p>
                            </div>
                        </div>
                        <div class="header-wrapper clearfix">
                            <div class="header clearfix">
                                <div class="logo clearfix">
                                    <a href="index.html"><img src="images/logo.png" alt="Logo"/></a>
                                    <input type="text" placeholder="search" value=""  name="search"/>
                                </div>
                                
                                <nav id="desktop-nav">
                                    <ul>
                                        <li><a href="/">HOME</a>
                                        </li>
                                        <li><a href="/aboutus">ABOUT US</a></li>
                                        <li><a href="/gallery">GALLERY</a>
                                            <ul class="submenu">
                                                <li>
                                                    <h3>Focus Sedan mix</h3>
                                                    <div class="showroom-pic">
                                                        <img src="images/submenu/submenu-1.png" alt="img"/>
                                                        <div class="submenu-overlay">
                                                            <a href="/singlecar">&nbsp;</a>
                                                        </div>
                                                    </div>
                                                    <p><span>Brand</span><span class="span-r">Nisan</span></p>
                                                    <p><span>Model</span><span class="span-r">Sedan</span></p>
                                                    <p class="last"><span>Year</span><span class="span-r">2013</span></p>
                                                    
                                                </li>
                                                <li>
                                                    <h3>Focus Sedan mix</h3>
                                                    <div class="showroom-pic">
                                                        <img src="images/submenu/submenu-2.png" alt="img"/>
                                                        <div class="submenu-overlay">
                                                            <a href="/singlecar">&nbsp;</a>
                                                        </div>
                                                    </div>
                                                    <p><span>Brand</span><span class="span-r">Nisan</span></p>
                                                    <p><span>Model</span><span class="span-r">Sedan</span></p>
                                                    <p class="last"><span>Year</span><span class="span-r">2013</span></p>
                                                    
                                                </li>
                                                <li>
                                                    <h3>Focus Sedan mix</h3>
                                                    <div class="showroom-pic">
                                                        <img src="images/submenu/submenu-3.png" alt="img"/>
                                                        <div class="submenu-overlay">
                                                            <a href="/singlecar">&nbsp;</a>
                                                        </div>
                                                    </div>
                                                    <p><span>Brand</span><span class="span-r">Nisan</span></p>
                                                    <p><span>Model</span><span class="span-r">Sedan</span></p>
                                                    <p class="last"><span>Year</span><span class="span-r">2013</span></p>
                                                    
                                                </li>
                                                <li>
                                                    <h3>Focus Sedan mix</h3>
                                                    <div class="showroom-pic">
                                                        <img src="images/submenu/submenu-4.png" alt="img"/>
                                                        <div class="submenu-overlay">
                                                            <a href="/singlecar">&nbsp;</a>
                                                        </div>
                                                    </div>
                                                    <p><span>Brand</span><span class="span-r">Nisan</span></p>
                                                    <p><span>Model</span><span class="span-r">Sedan</span></p>
                                                    <p class="last"><span>Year</span><span class="span-r">2013</span></p>
                                                    
                                                </li>
                                                <li class="last">
                                                    <h3>Focus Sedan mix</h3>
                                                    <div class="showroom-pic">
                                                        <img src="images/submenu/submenu-5.png" alt="img"/>
                                                        <div class="submenu-overlay">
                                                            <a href="/singlecar">&nbsp;</a>
                                                        </div>
                                                    </div>
                                                    <p><span>Brand</span><span class="span-r">Nisan</span></p>
                                                    <p><span>Model</span><span class="span-r">Sedan</span></p>
                                                    <p class="last"><span>Year</span><span class="span-r">2013</span></p>
                                                    
                                                </li>
                                                
                                            </ul>
                                            
                                        </li>
                                        <li><a href="/rent">RENT A CAR <span>&nbsp;</span></a>
                                            <ul>
                                                <li><a href="/rent">Honda</a></li>
                                                <li><a href="/rent">Hyundai</a></li>
                                                <li><a href="/rent">Sedan</a>
                                                </li>
                                                <li><a href="/rent">Jaguar</a></li>
                                                <li><a href="/rent">Jeep</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/sell">SELL YOUR CAR</a></li>
                                        <li><a href="/search">SEARCH</a></li>
                                        <li><a href="/contact">CONTACT</a></li>
                                    </ul>
                                </nav>
                                
                                <select class="responsive-nav" id="mobile-nav">
                                      <option value="/index">HOME</option>
                                      <option value="/aboutus">ABOUT US</option>
                                      <option value="/gallery">GALLERY</option>
                                      <option value="/rent">RENT A CAR</option>
                                      <option value="/sell">SELL YOUR CAR</option>
                                      <option value="/search">SEARCH</option>
                                      <option value="/contact">CONTACT</option>
                                </select>
                                
                            </div>
                        </div>                  
                </header>
				<!--End HEADER -->
                
    <!-- Slider -->
    <div class="slider-wrapper-error">
        
    </div>
    <!-- End Slider-->
                 
    <!-- CONTAINER WRAPPER-->
    <div class="container-wrapper">
                	
        <!--CONTENT-->            
		<div class="content conteiner-about">
			
            <!--container top-->
            <div class="container-top clearfix">
                            <h2> GALLERY</h2>
                            <p><a href="#">Home </a> <a href="#">/  Search</a> <a href="#">/    gallery</a></p>
            </div>
           	<!--end container top--> 
            
			<!--Container Sell-->
            <section class="container clearfix">
            
                <!--Main-->
                <div class="contact-main">
                	
                    <div class="showroom clearfix">
                                    <h2 class="section-heading"><span>GALLERY</span></h2>
                                    <div class="project1 clearfix">
                                        <figure>
                                            <img src="images/showroom/showroom-1.png" alt="PIC">
                                            <div class="overlay">
                                                <a href="#">DETAILS</a>
                                            </div>
                                        </figure>    
                                        <h3>Nissan Patrol 2013</h3>
                                        <p><span>1.4i TS 5Dr </span><span class="span-r">23000 Miles</span></p>
                                        <p class="last"><span class="span-red">1 15,000 </span><span class="span-r">(12 installments of $2,000)</span></p>
                                    </div>
                                    <div class="project1  last clearfix">
                                        <figure>
                                            <img src="images/showroom/showroom-2.png" alt="PIC">
                                            <div class="overlay">
                                                <a href="#">DETAILS</a>
                                            </div>
                                        </figure>    
                                        <h3>Nissan Patrol 2013</h3>
                                        <p><span>1.4i TS 5Dr </span><span class="span-r">23000 Miles</span></p>
                                        <p class="last"><span class="span-red">1 15,000 </span><span class="span-r">(12 installments of $2,000)</span></p>
                                    </div>
                                    
                                    <div class="project1 clearfix">
                                        <figure>
                                            <img src="images/showroom/showroom-3.png" alt="PIC">
                                            <div class="overlay">
                                                <a href="#">DETAILS</a>
                                            </div>
                                        </figure>    
                                        <h3>Nissan Patrol 2013</h3>
                                        <p><span>1.4i TS 5Dr </span><span class="span-r">23000 Miles</span></p>
                                        <p class="last"><span class="span-red">1 15,000 </span><span class="span-r">(12 installments of $2,000)</span></p>
                                    </div>
                                    <div class="project1  last clearfix">
                                        <figure>
                                            <img src="images/showroom/showroom-4.png" alt="PIC">
                                            <div class="overlay">
                                                <a href="#">DETAILS</a>
                                            </div>
                                        </figure>    
                                        <h3>Nissan Patrol 2013</h3>
                                        <p><span>1.4i TS 5Dr </span><span class="span-r">23000 Miles</span></p>
                                        <p class="last"><span class="span-red">1 15,000 </span><span class="span-r">(12 installments of $2,000)</span></p>
                                    </div>
                                    
                                    <div class="project1 clearfix">
                                        <figure>
                                            <img src="images/showroom/showroom-5.png" alt="PIC">
                                            <div class="overlay">
                                                <a href="#">DETAILS</a>
                                            </div>
                                        </figure>    
                                        <h3>Nissan Patrol 2013</h3>
                                        <p><span>1.4i TS 5Dr </span><span class="span-r">23000 Miles</span></p>
                                        <p class="last"><span class="span-red">1 15,000 </span><span class="span-r">(12 installments of $2,000)</span></p>
                                    </div>
                                    <div class="project1  last clearfix">
                                        <figure>
                                            <img src="images/showroom/showroom-6.png" alt="PIC">
                                            <div class="overlay">
                                                <a href="#">DETAILS</a>
                                            </div>
                                        </figure>    
                                        <h3>Nissan Patrol 2013</h3>
                                        <p><span>1.4i TS 5Dr </span><span class="span-r">23000 Miles</span></p>
                                        <p class="last"><span class="span-red">1 15,000 </span><span class="span-r">(12 installments of $2,000)</span></p>
                                    </div>
                                    
                                    <div class="project1 clearfix">
                                        <figure>
                                            <img src="images/showroom/showroom-1.png" alt="PIC">
                                            <div class="overlay">
                                                <a href="#">DETAILS</a>
                                            </div>
                                        </figure>    
                                        <h3>Nissan Patrol 2013</h3>
                                        <p><span>1.4i TS 5Dr </span><span class="span-r">23000 Miles</span></p>
                                        <p class="last"><span class="span-red">1 15,000 </span><span class="span-r">(12 installments of $2,000)</span></p>
                                    </div>
                                    <div class="project1  last clearfix">
                                        <figure>
                                            <img src="images/showroom/showroom-2.png" alt="PIC">
                                            <div class="overlay">
                                                <a href="#">DETAILS</a>
                                            </div>
                                        </figure>    
                                        <h3>Nissan Patrol 2013</h3>
                                        <p><span>1.4i TS 5Dr </span><span class="span-r">23000 Miles</span></p>
                                        <p class="last"><span class="span-red">1 15,000 </span><span class="span-r">(12 installments of $2,000)</span></p>
                                    </div>
                                    
                                    <div class="pagination">
                                    	<a href="#" class="prev">Previous</a>
                                    	<a href="#"><span></span> 1</a>
                                    	<a href="#"><span></span> 2</a>
                                    	<a href="#"><span></span> 3</a>
                                    	<a href="#"><span></span> 4</a>
                                    	<a href="#" class="next">Next</a>
                                    </div>
                                    
                    </div>
                    
                </div>	
                <!--End Main-->
                            
            	<!--Right Column-->
                            <div class="contact-rightcolum">
                            	<div class="widget">
                                    <div class="dealer brands">
                                    	<h2 class="section-heading">BRANDS</h2>
                                    	<ul>
                                            <li><a href="#">Acura </a><span>(24,061)</span></li>
                                            <li><a href="#">Alfa Romeo </a><span>(13)</span></li>
                                            <li><a href="#">AM General </a><span>(14)</span></li>
                                            <li><a href="#">AMC </a><span>(10)</span></li>
                                            <li><a href="#">Aston Martin </a><span>(26)</span></li>
                                            <li><a href="#">AUBURN </a><span>(1)</span></li>
                                            <li><a href="#">Audi</a> <span>(1930)</span></li>
                                            <li><a href="#">Acura </a><span>(24,061)</span></li>
                                            <li><a href="#">Alfa Romeo </a><span>(13)</span></li>
                                            <li><a href="#">AM General </a><span>(14)</span></li>
                                            <li><a href="#">AMC </a><span>(10)</span></li>
                                            <li><a href="#">Aston Martin </a><span>(26)</span></li>
                                            <li><a href="#">AUBURN </a><span>(1)</span></li>
                                            <li><a href="#">Audi</a> <span>(1930)</span></li>
                                            <li><a href="#">Acura </a><span>(24,061)</span></li>
                                            <li><a href="#">Alfa Romeo </a><span>(13)</span></li>
                                            <li><a href="#">AM General </a><span>(14)</span></li>
                                            <li><a href="#">AMC </a><span>(10)</span></li>
                                            <li><a href="#">Aston Martin </a><span>(26)</span></li>
                                            <li><a href="#">AUBURN </a><span>(1)</span></li>
                                            
                                        </ul>
                                    </div>
                                    <div class="dealer brands">
                                        <h2 class="section-heading">PRICE</h2>
                                    	<ul>
                                            <li><a href="#">Acura </a><span>(24,061)</span></li>
                                            <li><a href="#">Alfa Romeo </a><span>(13)</span></li>
                                            <li><a href="#">AM General </a><span>(14)</span></li>
                                            <li><a href="#">AMC </a><span>(10)</span></li>
                                            <li><a href="#">Aston Martin </a><span>(26)</span></li>
                                            <li><a href="#">AUBURN </a><span>(1)</span></li>
                                            <li><a href="#">Audi</a> <span>(1930)</span></li>
                                          
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--End Right Column-->
			
            </section>
            <!--End Container Sell-->          
                       
		</div>
    	<!--END CONTENT-->
    
    </div>
    <!--END CONTAINER WRAPPER-->
              		
			
                <div class="footer-top ">&nbsp;</div>
				
                <!--Footer-->
                <div class="footer-wrapper">
                    
                    <div class="footer clearfix">
                        <div class="help clearfix">
                            <h4>Help</h4>
                            <ul>
                                <li><a href="/aboutus">About Us</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Press</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="#">News</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Terms of use</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Shop</a></li>
                                <li><a href="#">Features</a></li>
                            </ul>
                        </div>
                        <div class="my-account">
                            <h4>My Account</h4>
                            <ul>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Order History</a></li>
                                <li><a href="#">Wish List</a></li>
                                <li><a href="#">Newsletter</a></li>
                            </ul>
                        </div>
                        <div class="privacy">
                            <h4>Privacy</h4>
                            <ul>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Conditions</a></li>
                                <li><a href="#">Report</a></li>
                            </ul>
                        </div>
                        <div class="ab">
                            <h4>About Us</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <form action="#" method="post">
                                <input type="text" placeholder="Enter your Email Address" value="" name="Email" />
                                <input type="submit" class="buton" value="" name="submit"/>
                            </form>
                        </div>
                    </div>
                    <footer class="clearfix">
                        <div class="copy-right">
                            <p>Powered By Coralix Themes</p>
                            <p>Copyright ©.  All rights reserved - Best Themes</p>
                        </div>
                        
                        <!--Social Navigation-->
                        <div class="social-nav">
                            <a href="#" class="skype"></a>
                            <a href="#" class="tw"></a>
                            <a href="#" class="vi"></a>
                            <a href="#" class="db"></a>
                            <a href="#" class="rss"></a>
                            <a href="#" class="pic"></a>
                            <a href="#" class="in"></a>
                            <a href="#" class="go"></a>
                            <a href="#" class="fb"></a>
                        </div>
                        <!--Social Navigation-->
                        
                    </footer>
                </div>
                
                
                <!-- Scripts -->				
				<script src="js/jquery-1.7.1.min.js"></script>
				<script src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
				<script src="rs-plugin/js/jquery.themepunch.revolution.js"></script>
				<script src="js/jquery.isotope.min.js"></script>
				<script src="js/jquery-cycle.js"></script>
                <script src="js/jquery-ui.js"></script>
                <script src="js/jquery.selectBox.js"></script> 
                <script src="js/timeline.js"></script>
				<script src="js/custom.js"></script>

        </body>
</html>